<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Fonts -->
  <link rel="stylesheet" href="">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../ccs/all.css">
  
  <title>Otros Proyectos</title>

</head>
<body>
  <!-- NavBar -->
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="../index.html">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="videojuegos.html">Videojuegos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Otros Proyectos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="musica.html">Música</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="videos.html">Videos</a>
    </li>
  </ul>
  

  <div class="container">
    <div class="card bg-dark text-white">
      <img src="../img/st.png" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title"><a href="https://www.facebook.com/El-Misterio-de-San-Telmo-529330080799276/">
          <button type="button" class="btn btn-primary" href="https://www.facebook.com/El-Misterio-de-San-Telmo-529330080799276/"><i class="fab fa-facebook-square"></i></button>
        El Misterio de San Telmo</a>
      </h5>
      
      <p class="card-text">Un proyecto en el cual estuve colaborando hace aproximadamente un año, solo por entretenimiento y sin fines de lucro. Una historia llevada desde las sesiones de juego de <a href="https://dnd5e.fandom.com/wiki/D%26D_5th_Edition_Wikia">D&D</a> hasta un medio electrónico, de la imaginación a lo palpable.</p>
      <p class="card-text"></p>
    </div>
  </div>
</div>


  <div class="card text-center">
    Manuel Alejandro Sahagún Mendoza 2019
  </div>


<script src="../js/all.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>