<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Fonts -->
  <link rel="stylesheet" href="">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/all.css">
  
  <title>Videos</title>

</head>
<body>
  <div class="p-3 mb-2 bg-dark text-white">
    <!-- NavBar -->
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="../index.html">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="videojuegos.html">Videojuegos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="otrosProyectos.html">Otros Proyectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="musica.html">Música</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Videos</a>
      </li>
    </ul>

    <div class="container text-center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/xXjTO4E0sEc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p class="justify-content-center">No soy un gran amante de ver videos, pero de ánime veo unos cuantos...</p>
    </div>



  </div>

  <div class="card text-center">
    Manuel Alejandro Sahagún Mendoza 2019
  </div>
  <script src="../js/all.js"></script>
  <script src="../js/bootstrap.min.js"></script>
</body>
</html>