<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Fonts -->
  <link rel="stylesheet" href="">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  
  <title>Videojuegos</title>

</head>
<body>
  <!-- NavBar -->
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="../index.html">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Videojuegos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="otrosProyectos.html">Otros Proyectos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="musica.html">Música</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="videos.html">Videos</a>
    </li>
  </ul>

  <div class="card-group">
    <div class="card">
      <img src="../img/sm.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="https://www.google.com/search?client=firefox-b-d&q=super+metroid">Super Metroid</a></h5>
        <p class="card-text">Este es uno de mis juegos favoritos de Super Nintendo (procuro pasarlo una vez al año). Este tipo de juegos son mis favoritos otro de ellos es <a href="https://castlevania.fandom.com/es/wiki/Castlevania:_Symphony_of_the_Night">Castlevania SOTN</a>, pero conocí primero SM.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
    <div class="card">
      <img src="../img/tloz.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="https://www.google.com/search?client=firefox-b-d&q=a+link+to+the+past">The Legend of Zelda A Link to the Past</a></h5>
        <p class="card-text">Este juego fue de los primero que jugué en mi infancia, su trayectoria y crecimiento me han ido dejando atrás pero llegará el día que tenga tiempo para jugar todos los juegos de esta saga.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
    <div class="card">
      <img src="../img/mx.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="https://www.google.com/search?client=firefox-b-d&q=megaman+x">Megaman X</a></h5>
        <p class="card-text">En comparación con los Megaman de la NES, un gran cambio en diseño jugabilidad, mpusica y estética, un gran ejemplo de como hacer un cambio productivo y legendario a un clásico.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>


  <div class="card text-center">
    Manuel Alejandro Sahagún Mendoza 2019
  </div>
  <script src="../js/jquery.js"></script>
  <script src="../js/bootstrap.min.js"></script>
</body>
</html>